@charset "UTF-8";
@media screen and (min-width: 641px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  .LeaveFeedback {
    position: absolute;
    left: auto;
    right: 0;
    margin-top: 358px;
  }
  .LeaveFeedback img {
    width: 32px;
    height: auto;
  }

  .header {
    width: 100%;
    height: auto;
    background-color: #000000;
  }
  .header .header_elements {
    width: 940px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000000;
  }
  .header .header_elements p {
    margin: auto 20px auto 20px;
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    /* Text style for "Sing up" */
    font-family: "PT Sans", sans-serif;
  }
  .header .header_elements .header_img1 {
    width: 16px;
    height: 12px;
    margin: auto 11px auto 0px;
  }
  .header .header_elements .header_img2 {
    width: 16px;
    height: 16px;
    margin: auto 0px;
  }

  .navigation {
    width: 940px;
    margin: 6px auto 5px auto;
    height: auto;
  }
  .navigation a {
    width: 550px;
    height: auto;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* Text style for "News     F" */
    letter-spacing: -0.18px;
    margin: 0 12px 0 0;
  }
  .navigation img {
    float: right;
    /* Style for "Shape 59 c" */
    width: 20px;
    height: auto;
    margin: auto auto;
  }

  .breaker {
    margin: 5px auto 5px auto;
    width: 940px;
    height: 2px;
    background-color: #333333;
  }

  .flex_container {
    margin: 25px auto;
    width: 940px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .main_content {
    width: 620px;
    height: auto;
  }
  .main_content img {
    width: 380px;
    height: auto;
    float: left;
  }
  .main_content .mc_p1 {
    margin: 0;
    background-color: #f7f9fa;
    padding: 14px 69px 17px 18px;
    color: #c80000;
    font-family: "PT Serif";
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    /* Text style for "Barca drew" */
    letter-spacing: -0.3px;
    float: left;
  }
  .main_content .mc_p2 {
    background-color: #f7f9fa;
    margin: 0;
    padding: 0px 27px 54px 19px;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 194px;
    height: 67px;
    line-height: 17px;
    /* Text style for "A, ntoine" */
    letter-spacing: -0.14px;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
  }
  .main_content .mc_nav {
    background-color: #f7f9fa;
    padding: 0px 11px 9px 153px;
    width: 75px;
    height: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    float: right;
    justify-content: space-between;
    align-items: center;
  }
  .main_content .mc_nav p {
    width: auto;
    height: auto;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    /* Text style for "7, /20" */
    letter-spacing: 0;
  }
  .main_content .mc_nav #mc_nav_img1,
.main_content .mc_nav #mc_nav_img2 {
    width: 16px;
    height: 24px;
  }

  .red_break {
    width: 620px;
    height: 5px;
    background-color: #c70000;
    float: none;
    margin-top: 252px;
  }

  .side_content {
    margin: 0px 0px 0px 20px;
    width: 300px;
    height: 550px;
  }

  .lower {
    padding-top: 30px;
    height: auto;
    width: 620px;
    background-color: white;
  }

  .omg_heading {
    display: flex;
    width: 620px;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .omg_heading p {
    margin: 0;
    width: auto;
    height: auto;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap;
    /* Text style for "OMG News" */
    letter-spacing: -0.24px;
  }

  .breaker2 {
    margin-top: 15px;
    margin-left: 9px;
    width: 100%;
    height: 2px;
    background-color: #333333;
  }

  .lower_content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }

  .l_item {
    width: 140px;
    height: auto;
    margin-right: 20px;
  }

  .l_item_end {
    width: 140px;
    height: auto;
  }

  .l_item img,
.l_item_end img {
    width: 100%;
    height: 88px;
    margin-bottom: 7px;
  }

  .l_item p,
.l_item_end p {
    width: 100%;
    height: 72px;
    color: #333333;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    /* Text style for "A,  YouTub" */
    letter-spacing: -0.14px;
    overflow: hidden;
    word-wrap: break-word;
  }

  footer {
    margin-top: 30px;
    width: 100%;
    height: 88px;
    border: 1px solid #d7d8d9;
    background-color: #f7f9fa;
  }

  .footer_content {
    width: 941px;
    margin: 0 auto;
  }

  .footer_content .f_rights {
    margin-top: 17px;
    margin-bottom: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    /* Text style for "© 2000-202" */
    color: #333333;
    letter-spacing: -0.12px;
  }

  .footer_content .f_nav {
    color: #567ab0;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    /* Text style for "© 2000-202" */
    letter-spacing: -0.12px;
  }

  .side_article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .s_line1 {
    width: 118px;
    height: 2px;
    background-color: #333333;
    margin-top: 6px;
    margin-left: 5px;
  }

  .s_line2 {
    width: 119px;
    height: 2px;
    background-color: #333333;
    margin-top: 6px;
    margin-right: 5px;
  }

  .side_article p {
    width: auto;
    height: 12px;
    color: #6a0099;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    margin: 0 7px auto 7px;
    text-transform: uppercase;
    /* Text style for "VIDEO" */
    letter-spacing: -0.18px;
  }

  .side_video {
    margin-top: 13px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .s_item {
    margin: 5px 0;
    width: 280px;
    height: 88px;
    display: flex;
    flex-direction: row;
  }

  .s_item div {
    width: 140px;
    height: 100%;
  }

  .s_item div img {
    margin: 68px auto auto 5px;
    width: 20px;
    height: 15px;
    border: 0.5px solid #ffffff;
    background-color: white;
    border-radius: 5px;
  }

  .s_item p {
    margin: 0;
    margin-left: 9px;
    width: 129px;
    height: 63px;
    overflow: hidden;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    /* Text style for "FBI raids" */
    letter-spacing: -0.14px;
    word-wrap: break-word;
  }

  .s_mv {
    margin-top: 19px;
    margin-bottom: 1px;
    color: #3d76cc;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    /* Text style for "M, ore vid" */
    letter-spacing: -0.18px;
  }

  .s_lend {
    width: 100%;
    height: 5px;
    background-color: #333333;
  }

  .misc {
    width: 940px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .m_article {
    display: flex;
    flex-wrap: nowrap;
  }

  .m_article p {
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    /* Text style for "Misc" */
    letter-spacing: -0.24px;
    margin: 0;
  }

  .m_break1 {
    margin-top: 16px;
    margin-left: 10px;
    width: 100%;
    height: 2px;
    background-color: #333333;
  }

  .m_break2 {
    width: 100%;
    height: 2px;
    background-color: #333333;
  }

  .m_content {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .m_left {
    margin-top: 26px;
    margin-right: 20px;
    width: 60px;
    height: 133px;
  }

  .m_left img {
    width: 31px;
    height: 40px;
    margin: 42px auto auto 14px;
  }

  .m_right {
    margin-top: 26px;
    width: 60px;
    height: 133px;
    position: relative;
  }

  .m_right img {
    width: 31px;
    height: 40px;
    margin: 42px auto auto 14px;
  }

  .m_items {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }

  .m_item {
    margin: 15px 20px 0px 0px;
    width: 140px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .m_item_last {
    margin: 15px 20px 10px 0px;
    width: 140px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    opacity: 0.5;
  }

  .m_i_heading {
    /* Style for "Relations" */
    color: #c70000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    /* Text style for "Relations" */
    letter-spacing: -0.35px;
  }

  .m_i_image {
    margin-top: 9px;
    width: 140px;
    height: 94px;
  }

  .m_i_caption {
    margin-top: 7px;
    height: 58px;
    color: #3d76cc;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-weight: 400;
    word-wrap: break-word;
    overflow: hidden;
  }
}
@media screen and (max-width: 640px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  .header {
    width: 100%;
    height: auto;
    background-color: #000000;
  }

  .LeaveFeedback {
    position: absolute;
    left: auto;
    right: 0;
    margin-top: 758px;
  }
  .LeaveFeedback img {
    width: 32px;
    height: auto;
    opacity: 0.5;
    position: relative;
  }

  .header_elements {
    width: 640px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: black;
  }

  .header_elements p {
    margin: auto 20px auto 20px;
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    /* Text style for "Sing up" */
    font-family: "PT Sans", sans-serif;
  }

  .header_img1 {
    width: 16px;
    height: 12px;
    margin: auto 11px auto 0px;
  }

  .header_img2 {
    width: 16px;
    height: 16px;
    margin: auto 0px;
  }

  .navigation {
    width: 640px -20px;
    margin: 6px auto 5px 10px;
    height: auto;
  }

  .navigation a {
    width: 550px;
    height: auto;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* Text style for "News     F" */
    letter-spacing: -0.18px;
    margin: 0 12px 0 0;
  }

  .navigation img {
    float: right;
    /* Style for "Shape 59 c" */
    width: 20px;
    height: auto;
    margin-right: 10px;
  }

  .breaker {
    margin: 5px auto 5px auto;
    width: 640px;
    height: 2px;
    background-color: #333333;
  }

  .flex_container {
    margin: 25px 10px;
    width: 620px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .main_content {
    width: 620px;
    height: auto;
  }

  .side_content {
    margin: 0px 5px 0px 5px;
    width: 620px;
    height: 550px;
    justify-content: center;
  }

  .main_content img {
    width: 380px;
    height: auto;
    float: left;
  }

  .main_content .mc_p1 {
    margin: 0;
    background-color: #f7f9fa;
    padding: 14px 69px 17px 18px;
    color: #c80000;
    font-family: "PT Serif";
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    /* Text style for "Barca drew" */
    letter-spacing: -0.3px;
    float: left;
  }

  .main_content .mc_p2 {
    background-color: #f7f9fa;
    margin: 0;
    padding: 0px 27px 54px 19px;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 194px;
    height: 67px;
    line-height: 17px;
    /* Text style for "A, ntoine" */
    letter-spacing: -0.14px;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
  }

  .mc_nav {
    background-color: #f7f9fa;
    padding: 0px 11px 9px 153px;
    width: 75px;
    height: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    float: right;
    justify-content: space-between;
    align-items: center;
  }

  #mc_nav_img1,
#mc_nav_img2 {
    width: 16px;
    height: 24px;
  }

  .mc_nav p {
    width: auto;
    height: auto;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    /* Text style for "7, /20" */
    letter-spacing: 0;
  }

  .red_break {
    width: 620px;
    height: 5px;
    background-color: #c70000;
    float: none;
    margin-top: 252px;
  }

  .lower {
    padding-top: 30px;
    height: auto;
    width: 620px;
    background-color: white;
  }

  .omg_heading {
    display: flex;
    width: 620px;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .omg_heading p {
    margin: 0;
    width: auto;
    height: auto;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap;
    /* Text style for "OMG News" */
    letter-spacing: -0.24px;
  }

  .breaker2 {
    margin-top: 15px;
    margin-left: 9px;
    width: 100%;
    height: 2px;
    background-color: #333333;
  }

  .lower_content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }

  .l_item {
    width: 140px;
    height: auto;
    margin-right: 20px;
  }

  .l_item_end {
    width: 140px;
    height: auto;
  }

  .l_item img,
.l_item_end img {
    width: 100%;
    height: 88px;
    margin-bottom: 7px;
  }

  .l_item p,
.l_item_end p {
    width: 100%;
    height: 72px;
    overflow: hidden;
    word-wrap: break-word;
    color: #333333;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    /* Text style for "A,  YouTub" */
    letter-spacing: -0.14px;
  }

  footer {
    margin-top: 30px;
    width: 640px;
    height: 88px;
    border: 1px solid #d7d8d9;
    background-color: #f7f9fa;
  }

  .footer_content {
    width: 80%;
    margin: 0 auto;
  }

  .footer_content .f_rights {
    margin-top: 17px;
    margin-bottom: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    /* Text style for "© 2000-202" */
    color: #333333;
    letter-spacing: -0.12px;
  }

  .footer_content .f_nav {
    color: #567ab0;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    /* Text style for "© 2000-202" */
    letter-spacing: -0.12px;
  }

  .side_article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .s_line1 {
    width: calc(118px * (640/300) + 17px);
    height: 2px;
    background-color: #333333;
    margin-top: 6px;
  }

  .s_line2 {
    width: calc(119px * (640/300) + 17px);
    height: 2px;
    background-color: #333333;
    margin-top: 6px;
  }

  .side_article p {
    width: auto;
    height: 12px;
    color: #6a0099;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    margin: 0 7px auto 7px;
    text-transform: uppercase;
    /* Text style for "VIDEO" */
    letter-spacing: -0.18px;
  }

  .side_video {
    margin-top: 13px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .s_item {
    margin: 5px 0;
    width: 280px;
    height: 88px;
    display: flex;
    flex-direction: row;
  }

  .s_item div {
    width: 140px;
    height: 100%;
  }

  .s_item div img {
    margin: 68px auto auto 5px;
    width: 20px;
    height: 15px;
    border: 0.5px solid #ffffff;
    background-color: white;
    border-radius: 5px;
  }

  .s_item p {
    margin: 0;
    margin-left: 9px;
    width: 129px;
    height: 63px;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    /* Text style for "FBI raids" */
    letter-spacing: -0.14px;
    overflow: hidden;
    word-wrap: break-word;
  }

  .s_mv {
    margin-top: 19px;
    margin-bottom: 1px;
    color: #3d76cc;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    /* Text style for "M, ore vid" */
    letter-spacing: -0.18px;
  }

  .s_lend {
    width: 100%;
    height: 5px;
    background-color: #333333;
  }

  .misc {
    width: 620px;
    height: auto;
    margin: 0 auto;
    margin: 50px 10px 30px 10px;
  }

  .m_article {
    display: flex;
    flex-wrap: nowrap;
  }

  .m_article p {
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    /* Text style for "Misc" */
    letter-spacing: -0.24px;
    margin: 0;
  }

  .m_break1 {
    margin-top: 16px;
    margin-left: 10px;
    width: 100%;
    height: 2px;
    background-color: #333333;
  }

  .m_break2 {
    width: 100%;
    height: 2px;
    background-color: #333333;
  }

  .m_content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .m_left {
    margin-top: 26px;
    margin-right: 20px;
    width: 60px;
    height: 133px;
  }

  .m_left img {
    width: 31px;
    height: 40px;
    margin: 42px auto auto 14px;
  }

  .m_right {
    margin-top: 26px;
    width: 60px;
    height: 133px;
    position: relative;
  }

  .m_right img {
    width: 31px;
    height: 40px;
    margin: 42px auto auto 14px;
  }

  .m_items {
    width: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .m_item {
    margin: 15px 20px 35px 0px;
    width: 140px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .m_item_last {
    margin: 15px 20px 35px 0px;
    width: 140px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    opacity: 0.5;
  }

  .m_i_heading {
    /* Style for "Relations" */
    color: #c70000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    /* Text style for "Relations" */
    letter-spacing: -0.35px;
  }

  .m_i_image {
    margin-top: 9px;
    width: 140px;
    height: 94px;
  }

  .m_i_caption {
    margin-top: 7px;
    height: 58px;
    color: #3d76cc;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    word-wrap: break-word;
  }
}

/*# sourceMappingURL=styles.css.map */
